/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font: var(--main-text);
  color: var(--main-color);
  background-color: var(--background-color);
  background-image: 
    repeating-linear-gradient(to right, var(--gradient-color-one), transparent 2px),
    repeating-linear-gradient(to bottom, var(--gradient-color-one), transparent 2px),
    linear-gradient(to bottom, var(--gradient-color-two) 0.01%, var(--gradient-color-three));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
  font: var(--main-text);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section {
  width: var(--width-content-section);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 25px;
  padding: 60px 0 25px;
  height: fit-content;
  background-color: var(--background-color);
  border: solid 2px var(--main-color);
  font-family: var(--accent-font);
  margin-bottom: 100px;
  justify-items: center;
  align-items: end;
}

.logo-group {
  display: grid;
  justify-items: center;
  grid-template-rows: minmax(49px, max-content) minmax(14px, max-content);
  gap: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  color: var(--main-color);
}

.header-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  color: var(--main-color);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 4px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: var(--main-text-weight);
  line-height: 14px;
  text-transform: uppercase;
  height: max-content;
  position: relative;
}

.theme-menu__button::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  visibility: hidden;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  visibility: visible;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
  animation: fadeOut 0.3s ease forwards;
}


.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  animation: fadeOut 0.3s ease forwards;
  position: relative;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -14px;
  width: 14px;
  height: 100%;
  animation: slideRight 0.5s ease-in-out infinite alternate;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
}
  100% {
    transform: translateX(4px);
}
}

.main {
  display: grid;
  justify-items: stretch;
  align-items: start;
  gap: 50px;
}

.card {
  display: grid;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--background-color);
  border: solid 2px var(--main-color);
  
}

.card__title {
  display: flex;
  padding: 0 10px;
  width: 100%;
  font: var(--title-text);
  justify-content: flex-start;
	align-items: center;
  height: fit-content;
  background-clip: content-box;
  border-bottom: solid 2px var(--main-color);

}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: right;
  overflow: clip;
}

.lable {
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--main-text-weight);
  line-height: 14px;
  color: var(--main-color);
  text-align: right;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 0 var(--background-color), -1px -1px 0 var(--background-color), 1px -1px 0 var(--background-color), -1px 1px 0 var(--background-color);
  opacity: 0.5;
}

@media (768px <= width) {
  .lable {
    right: 25px;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
} 

.image-two {
  filter: grayscale(80%) brightness(130%) contrast(95%);
}

.image-three {
  filter: saturate(300%);
}

.image-four {
  filter: hue-rotate(30deg);
}

.image-five {
  filter: invert(80%);
}

.image-six {
  filter: sepia(90%);
}

.image-seven {
  filter: blur(5px);
}

.image-eight {
  filter: hue-rotate(86deg) contrast(45%) blur(1px) saturate(1.5);
}

.card__content {
  display: grid;
  padding: 25px;
  gap: 25px;
  width: 100%;
  border-top: solid 2px var(--main-color);
}

.card__description {
  display: grid;
  gap: 27px;
  width: 100%;
}

.buttons {
  display: flex;
  justify-self: flex-end;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  gap: 12px;
}

.card__icon-button {
  background-color: var(--background-color);
  border: none;
  outline: solid 2px transparent;
  height: 38px;
}

.card__icon-button:focus-visible {
  outline: solid 2px var(--main-color);
  transition: outline 0.3s ease;
}

.card__like-button {
  border: none;
  outline: solid 2px var(--main-color);
  width: 130px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--main-text-weight);
  line-height: 12.6px;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

.footer {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.footer__button {
  border: none;
  outline: solid 2px var(--main-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 15px 20px;
  gap: 8px;
  position: relative;
  overflow: hidden;
}

.diskette-icon {
  width: 28px;
  height: 28px;
  fill: var(--button-text-color);
  stroke: var(--button-text-color);
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.footer__button-text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--main-text-weight);
  line-height: 12.6px;
  color: var(--main-color);
}

@media (768px <= width) {
  .footer__button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 15px 20px;
  }
  
  .diskette-icon {
    width: 21px;
    height: 21px;
  }
}

.card__like-button:focus-visible,
.footer__button:focus-visible {
  box-shadow: 2px 2px 0 2px var(--main-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button::after,
.footer__button::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: left 0.5s ease-in-out;
}

.card__like-button:hover::after,
.footer__button:hover::after {
  left: 0;
}

.button__text {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.06s;
}

.core {
  transition: fill 0.3s linear 0.03s;
  fill: var(--background-color);
}

.card__icon-button:hover .core {
  transition: fill 0.3s linear;
  fill: var(--main-color);
}

.card__icon-button:active .core {
  transition: fill 0.3s linear;
  fill: var(--heart-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--heart-color);
}

.main-body {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaleAnimation 0.3s ease-in forwards 0.1s;
}

@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: sparksAnimation 0.3s ease-in forwards 0.3s;
}

@keyframes sparksAnimation {
  0%, 100% {
    opacity: 0; 
  }
  50% {
    opacity: 1;
  }
}

