/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --accent-font: 'PressStart2P-Regular';
    --main-font: 'Inter-Variable', sans-serif;
    --title-text-weight: 700;
    --main-text-weight: 400;
    --title-text:  var(--title-text-weight) 18px/21.78px var(--main-font);
    --main-text:  var(--main-text-weight) 18px/21px var(--main-font);
    --background-color: rgba(255, 255, 255, 1);
    --main-color: rgba(0, 0, 0, 1);
    --gradient-color-one: #d3d3d3;
    --gradient-color-two: #e7e7e7;
    --gradient-color-three: #1a1a1a;
    --button-text-color: rgb(255, 255, 255);

}

:root.theme-dark {
    --accent-font: 'PressStart2P-Regular';
    --main-font: 'Inter-Variable', sans-serif;
    --title-text-weight: 785;
    --main-text-weight: 465;
    --title-text:  var(--title-text-weight) 18px/21.78px var(--main-font);
    --main-text:  var(--main-text-weight) 18px/21px var(--main-font);
    --background-color: rgba(0, 0, 0, 1);
    --main-color: rgba(0, 204, 20, 1);
    --gradient-color-one: #000;
    --gradient-color-two: #007f0c;
    --gradient-color-three: #004306;
    --button-text-color: rgba(0, 204, 20, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-font: 'PressStart2P-Regular';
        --main-font: 'Inter-Variable', sans-serif;
        --title-text-weight: 785;
        --main-text-weight: 465;
        --title-text:  var(--title-text-weight) 18px/21.78px var(--main-font);
        --main-text:  var(--main-text-weight) 18px/21px var(--main-font);
        --background-color: rgba(0, 0, 0, 1);
        --main-color: rgba(0, 204, 20, 1);
        --gradient-color-one: #000;
        --gradient-color-two: #007f0c;
        --gradient-color-three: #004306;
        --button-text-color: rgba(0, 204, 20, 1);
    }
}